{% extends "base.html" %}
{% block content %}
<h1>{{ page_title }}</h1>

<form>
    <div class="row">
        <div class="col">
            <input type="text" name="first-name" class="form-control" placeholder="First name">
        </div>
        <div class="col">
            <input type="text" name="last-name" class="form-control" placeholder="Last name">
        </div>
        <div class="col">
            <button class="btn waves-effect waves-light" type="submit" name="action">LOG IN
                <i class="material-icons right"></i>
            </button>
        </div>
    </div>
</form>

{% endblock %}