{% extends "base.html" %}
{% block content %}
<div class="profile-container">

    <!-- Display all recipes by User -->
    <div class="grid-container">
        <h1>Welcome {{ username }}</h1>
        <!-- If the amount of recipes is greater than 0 -->
        {% if recipes|length > 0 %}
        <!-- For loop to display all recipes from mongodb -->
        {% for recipe in recipes %}
        <div class="grid-item">
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <h1 class="recipe-name">{{ recipe.dessert_name }}</h1>
                        <img src="{{ recipe.dessert_image }}" alt="An image of {{ recipe.dessert_name }}"
                            style="width:300px;height:300px;">
                    </div>
                    <div class="flip-card-back">
                        <!-- For loop to loop through ingredients -->
                        <h5>Ingredients</h5>
                        {% for ingredient in recipe.dessert_ingredients %}
                        <p>{{ ingredient }}</p>
                        <!-- Close loop -->
                        {% endfor %}
                        <!-- For loop to loop through instructions -->
                        <h5>Instructions</h5>
                        {% for instruction in recipe.dessert_instructions %}
                        <p>{{ instruction }}</p>
                        <!-- Close loop -->
                        {% endfor %}
                        <p>
                            <em>Created by: {{ recipe.created_by }}</em>
                        </p>
                        <br>
                        <!-- Edit button for existing recipe -->
                        {% if session.user|lower == recipe.created_by|lower %}
                        <a href="{{ url_for('edit_recipe', recipes_id=recipe._id ) }}"
                            class="btn btn-primary btn-lg active" role="button" aria-pressed="true">EDIT</a>
                        <a href="{{ url_for('edit_recipe', recipes_id=recipe._id ) }}"
                            class="btn btn-primary btn-lg active" role="button" aria-pressed="true">DELETE</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        {% endif %}
    </div>
</div>
{% endblock %}
</div>
</div>