{% extends "base.html" %}
{% block content %}
<h1>Recipes</h1>
<!-- Search bar for recipes -->
<nav>
    <div class="nav-wrapper">
        <form action="{{ url_for('search') }}" method="POST" class="col s12">
            <div class="input-field col s12">
                <input id="search" name="search" type="search" required />
                <label class="label-icon" for="search"><i class="material-icons"></i></label>
                <i class="material-icons">CLOSE</i>
            </div>
            <!-- Search and Clear buttons -->
            <div class="col s12 small-btns">
                <a href="{{ url_for('get_recipes') }}" class="waves-effect waves-light btn-clear">CLEAR</a>
                <button type="submit" class="btn submit-btn">"SEARCH"</button>
            </div>
        </form>
    </div>
</nav>



<!-- Display all recipes -->
<!-- If the amount of recipes is greater than 0 -->
<div class="row">
    {% if recipes|length > 0 %}
    <!-- For loop to display all recipes from mongodb -->
    {% for recipe in recipes %}
    <div class="col s4">
        <div class="card" style="width: 18rem;">
            <img src="{{ recipe.dessert_image }}" class="card-img-top" alt="an image of {{ recipe.dessert_name }}">
        </div>
        <div class="card-body">
            <h5 class="card-title">Ingredients and Instructions</h5>
            <br>
            <!-- For loop to loop through ingredients -->
            {% for ingredient in recipe.dessert_ingredients %}
            <p>{{ ingredient }}</p>
            <!-- Close loop -->
            {% endfor %}
            <!-- For loop to loop through instructions -->
            {% for instruction in recipe.dessert_instructions %}
            <p>{{ instruction }}</p>
            <!-- Close loop -->
            {% endfor %}
            <p>
            <em>Created by: {{ recipe.created_by }}</em>
        </p>
        <br>
          <!-- Edit button for existing recipe -->
        {% if session.user|lower == recipe.created_by|lower %}
        <button type="button" a href="{{ url_for('edit_recipe', recipes_id=recipe._id ) }}"
            class="btn btn-primary btn-sm">EDIT</button>
        <button type="button" a href="{{ url_for('edit_recipe', recipes_id=recipe._id ) }}"
            class="btn btn-primary btn-sm">DELETE</button>
        {% endif %}
        </div>
    </div>
</div>
</div>
</div>
</div>
</div>
</div>
{% endfor %}
</div>
</div>
{% endif %}
{% endblock %}